.fondo {

    background-image: url(imag/namek.jpg);
    width: 863px;
    height: 600px;
    border-top: 5px solid #000000;
    border-right: 5px solid #000000;
    border-bottom: 5px solid #000000;
    border-left: 5px solid #000000;
    text-align: center;
}

.Personaje1 {
    position: absolute;
    background-image: url(imag/goku.png);
    width: 43px;
    height: 62px;
    display: inline-block;
    background-size: contain;
    top: 450px;
    left: 40px
}
.Personaje2 {
    position: absolute;
    background-image: url(imag/minicell.png);
    width: 43px;
    height: 53px;
    display: inline-block;
    background-size: contain;
    top: 450px;
    left: 800px;
}

.CuadroDeVidaGoku{
    background-image: url(imag/cuadrovidagoku.png);
    width: 192px;
    height: 32px;
    display: inline-block;
    background-size: contain;
    top: 20px;
    left: 20px;
    position: absolute;
}
.BarraVidaGoku{
    background-image: url(imag/barravidagoku.png);
    width: 165px;
    height: 24px;
    display: inline-block;
    background-size: contain;
    top: 24px;
    left: 40px;
    position: absolute;
}

.CuadroDeVidaMiniCell{
    background-image: url(imag/cuadrovidaminicell.png);
    width: 192px;
    height: 32px;
    display: inline-block;
    background-size: contain;
    top: 20px;
    left: 680px;
    position: absolute;
}

.BarraDeVidaMiniCell{
    background-image: url(imag/barravidaminicell.png);
    width: 165px;
    height: 24px;
    display: inline-block;
    background-size: contain;
    top: 24px;
    left: 686px;
    position: absolute;
}

/*
.DisparoG {
    background-image: url(imag/kamehameha.gif);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: contain;
    top: 470px;
    left: 80px;
    position: absolute;
}

.victoria {
    background-image: url(imag/Hasganado.png);
    width: 401px;
    height: 113px;
}

.perder {
    background-image: url(imag/Hasperdido.png);
    width: 299px;
    height: 73px;
}
*/