#wallpaper {
    background-image: url(imag/namek.jpg);
    width: 863px;
    height: 600px;
    border-top: 5px solid #000000;
    border-right: 5px solid #000000;
    border-bottom: 5px solid #000000;
    border-left: 5px solid #000000;
    text-align: center;
}

#player {
    position: absolute;
    background-image: url(imag/goku.png);
    width: 100px;
    height: 100px;
    display: inline-block;
    background-size: contain;
    top: 450px;
    left: 40px;
    background-repeat: no-repeat;

}
#enemy {
    position: absolute;
    background-image: url(imag/minicell.png);
    width: 100px;
    height: 100px;
    display: inline-block;
    background-size: contain;
    top: 450px;
    left: 780px;
    background-repeat: no-repeat;
}

#CuadroDeVidaGoku{
    background-image: url(imag/cuadrovidagoku.png);
    width: 192px;
    height: 32px;
    display: inline-block;
    background-size: contain;
    top: 20px;
    left: 20px;
    position: absolute;
    background-repeat: no-repeat;
}
#BarraVidaGoku{
    background-image: url(imag/barravidagoku.png);
    width: 165px;
    height: 24px;
    display: inline-block;
    background-size: contain;
    top: 24px;
    left: 40px;
    position: absolute;
    background-repeat: no-repeat;
}

#CuadroDeVidaMiniCell{
    background-image: url(imag/cuadrovidaminicell.png);
    width: 192px;
    height: 32px;
    display: inline-block;
    background-size: contain;
    top: 20px;
    left: 680px;
    position: absolute;
    background-repeat: no-repeat;
}

#BarraDeVidaMiniCell{
    background-image: url(imag/barravidaminicell.png);
    width: 165px;
    height: 24px;
    display: inline-block;
    background-size: contain;
    top: 24px;
    left: 686px;
    position: absolute;
    background-repeat: no-repeat;
}



#kamehameha {
    background-image: url(imag/kamehameha.gif);
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    top: 470px;
    left: 80px;
    position: absolute;
    background-repeat: no-repeat;
}
/*
    background-image: url(imag/Hasganado.png);
    width: 401px;
    height: 113px;
}

.perder {
    background-image: url(imag/Hasperdido.png);
    width: 299px;
    height: 73px;
}
*/